.code-block {
   .code-editor {
      height: 95%;
      background-color: $primary-bg-2;
      border: 0.5px solid $gray-60;
      border-radius: $big-br;         
      padding-block: 1em;
   }
}

.code-block-loader {
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
}