.lobby-page {
    padding: 50px 20px 20px;
    gap: 30px;

    header {
        gap: 10px;
    }

    .code-blocks-list-container {
        background-color: $primary-bg-2;
        padding: 1.5em;
        border: 0.5px solid $gray-60;
        border-radius: $big-br;
        line-height: 1.7em;

        .title {
            padding-block-end: 0.8em;
        }

        .lobby-loader {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}