.lobby-page {
    padding: 50px 20px 20px;
    gap: 30px;

    header {
        gap: 10px;

        h1 {
            font-size: 1.5rem;

            @include for-small-layout {
                font-size: 2rem;
            }
        }
    }

    .code-blocks-list-container {
        width: 100%;
        display: grid;
        justify-content: center;
        background-color: $primary-bg-2;
        padding: 1.5em;
        border: 0.5px solid $gray-60;
        border-radius: $big-br;
        line-height: 1.7em;

        @include for-small-layout {
            width: auto;
        }

        .title {
            padding-block-end: 0.8em;
        }

        .lobby-loader {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}