.code-runner {
    height: 50vh;
    background-color: $primary-bg-2;
    border: 0.5px solid $gray-60;
    border-radius: $big-br;
    padding: 1em 40px;

    .loader {
        margin: auto;
        width: 40px;
    }
}