.code-block-list {
    columns: auto 1;

    @include for-small-layout {
        column-count: 2;
    }

    @include for-medium-layout {
        column-count: 3;
    }

    @include for-large-layout {
        column-count: 4;
    }
}