* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-bg-1;
  color: $primary-1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.dark-btn {
  background-color: $gray-80;
  color: $primary-1;
  padding: .5em .8em;
  border-radius: $small-br;

  &:hover {
    background-color: $gray-70;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select {
  font-family: inherit;
}